<ion-view title="Cycle 2 - 1PLT" id="page7">
  <ion-content padding="true" class="has-header">
    <h3 id="cycle21PLT-heading8" style="color:#000000;text-align:center;">Cycle 1/2017 - 2PLT</h3>
    <div class="list card" id="cycle21PLT-card25">
      <ion-item class="item-icon-left dark" id="cycle21PLT-list-item34">
        <i class="icon ion-ios-calendar-outline"></i>Command Team Confrence</ion-item>
      <ion-item class="item-icon-left dark" id="cycle21PLT-list-item35">
        <i class="icon ion-ios-calendar-outline"></i>PT/Dodgeball Night</ion-item>
      <ion-item class="item-icon-left dark" id="cycle21PLT-list-item36">
        <i class="icon ion-ios-calendar-outline"></i>Silver 303 Assesments</ion-item>
      <ion-item class="item-icon-left dark" id="cycle21PLT-list-item37">
        <i class="icon ion-ios-calendar-outline"></i>Navigation and Surival</ion-item>
      <ion-item class="item-icon-left dark" id="cycle21PLT-list-item38">
        <i class="icon ion-ios-calendar-outline"></i>Recruit Induction</ion-item>
    </div>
  </ion-content>
</ion-view>