<ion-view title="Cycle 2 - Pioneers" id="page10">
  <ion-content padding="true" class="has-header">
    <h3 id="cycle2Pioneers-heading11" style="color:#000000;text-align:center;">Cycle 1/2017 - 2PLT</h3>
    <div class="list card" id="cycle2Pioneers-card28">
      <ion-item class="item-icon-left dark" id="cycle2Pioneers-list-item49">
        <i class="icon ion-ios-calendar-outline"></i>Command Team Confrence</ion-item>
      <ion-item class="item-icon-left dark" id="cycle2Pioneers-list-item50">
        <i class="icon ion-ios-calendar-outline"></i>PT/Dodgeball Night</ion-item>
      <ion-item class="item-icon-left dark" id="cycle2Pioneers-list-item51">
        <i class="icon ion-ios-calendar-outline"></i>Silver 303 Assesments</ion-item>
      <ion-item class="item-icon-left dark" id="cycle2Pioneers-list-item52">
        <i class="icon ion-ios-calendar-outline"></i>Navigation and Surival</ion-item>
      <ion-item class="item-icon-left dark" id="cycle2Pioneers-list-item53">
        <i class="icon ion-ios-calendar-outline"></i>Recruit Induction</ion-item>
    </div>
  </ion-content>
</ion-view>