<ion-view title="Cycle 2 - 2PLT" id="page8">
  <ion-content padding="true" class="has-header">
    <h3 id="cycle22PLT-heading9" style="color:#000000;text-align:center;">Cycle 1/2017 - 2PLT</h3>
    <div class="list card" id="cycle22PLT-card26">
      <ion-item class="item-icon-left dark" id="cycle22PLT-list-item39">
        <i class="icon ion-ios-calendar-outline"></i>Command Team Confrence</ion-item>
      <ion-item class="item-icon-left dark" id="cycle22PLT-list-item40">
        <i class="icon ion-ios-calendar-outline"></i>PT/Dodgeball Night</ion-item>
      <ion-item class="item-icon-left dark" id="cycle22PLT-list-item41">
        <i class="icon ion-ios-calendar-outline"></i>Silver 303 Assesments</ion-item>
      <ion-item class="item-icon-left dark" id="cycle22PLT-list-item42">
        <i class="icon ion-ios-calendar-outline"></i>Navigation and Surival</ion-item>
      <ion-item class="item-icon-left dark" id="cycle22PLT-list-item43">
        <i class="icon ion-ios-calendar-outline"></i>Recruit Induction</ion-item>
    </div>
  </ion-content>
</ion-view>