<ion-view title="Cycle 1 - 3PLT" id="page5">
  <ion-content padding="true" class="has-header">
    <h3 id="cycle13PLT-heading6" style="color:#000000;text-align:center;">Cycle 1/2017 - 2PLT</h3>
    <div class="list card" id="cycle13PLT-card22">
      <ion-item class="item-icon-left dark" id="cycle13PLT-list-item24">
        <i class="icon ion-ios-calendar-outline"></i>Command Team Confrence</ion-item>
      <ion-item class="item-icon-left dark" id="cycle13PLT-list-item25">
        <i class="icon ion-ios-calendar-outline"></i>PT/Dodgeball Night</ion-item>
      <ion-item class="item-icon-left dark" id="cycle13PLT-list-item26">
        <i class="icon ion-ios-calendar-outline"></i>Silver 303 Assesments</ion-item>
      <ion-item class="item-icon-left dark" id="cycle13PLT-list-item27">
        <i class="icon ion-ios-calendar-outline"></i>Navigation and Surival</ion-item>
      <ion-item class="item-icon-left dark" id="cycle13PLT-list-item28">
        <i class="icon ion-ios-calendar-outline"></i>Recruit Induction</ion-item>
    </div>
  </ion-content>
</ion-view>