<ion-view title="Cycle 1 - 1PLT" id="page2">
  <ion-content padding="true" class="has-header">
    <h3 id="cycle11PLT-heading2" style="color:#000000;text-align:center;">Cycle 1/2017 - 1PLT</h3>
    <div class="list card" id="cycle11PLT-card23">
      <ion-item class="item-icon-left dark" id="cycle11PLT-list-item11">
        <i class="icon ion-ios-calendar-outline"></i>Command Team Confrence</ion-item>
      <ion-item class="item-icon-left dark" id="cycle11PLT-list-item13">
        <i class="icon ion-ios-calendar-outline"></i>PT/Dodgeball Night</ion-item>
      <ion-item class="item-icon-left dark" id="cycle11PLT-list-item14">
        <i class="icon ion-ios-calendar-outline"></i>Gold Falcon Assesments</ion-item>
      <ion-item class="item-icon-left dark" id="cycle11PLT-list-item15" ui-sref="navDataSheetTemplate">
        <i class="icon ion-ios-calendar-outline"></i>Nav Data Sheets (Linked)</ion-item>
      <ion-item class="item-icon-left dark" id="cycle11PLT-list-item16" ui-sref="databaseTemplate">
        <i class="icon ion-ios-calendar-outline"></i>Recruit Induction (Test for database) </ion-item>
    </div>
  </ion-content>
</ion-view>