<ion-view title="Database test" id="page12">
  <ion-content padding="true" class="has-header">
    <form id="databaseTemplate-form3" class="list">
      <label class="item item-input" id="databaseTemplate-textarea3">
        <span class="input-label">Nav Data Sheets</span><textarea placeholder=""></textarea></label>
    </form>
    <div class="item item-body" id="databaseTemplate-list-item-container9">
      <div id="databaseTemplate-markdown14" class="show-list-numbers-and-dots">
        <p style="margin-top:0px;color:#000000;">Period 1 18:15 - 18:55</p>
      </div>
      <form id="databaseTemplate-form1" class="list">
        <ion-list id="databaseTemplate-list8">
          <ion-item id="databaseTemplate-list-item70">Nav Data Sheets</ion-item>
          <div class="item item-body" id="databaseTemplate-list-item-container15">
            <a id="databasetest-button" class="button button-positive  button-block">edit</a>
            <div id="databaseTemplate-markdown23" class="show-list-numbers-and-dots">
              <p style="margin-top:0px;color:#000000;">Tought By: xxxxxx
                <br>Attendence: xxxxx
                <br>Infomation: xxxxxx</p>
            </div>
          </div>
        </ion-list>
      </form>
    </div>
    <div class="item item-body" id="databaseTemplate-list-item-container13">
      <div id="databaseTemplate-markdown19" class="show-list-numbers-and-dots">
        <p style="margin-top:0px;color:#000000;">Period 2 18:55 - 19:35</p>
      </div>
      <ion-list id="databaseTemplate-list9">
        <ion-item id="databaseTemplate-list-item74">Nav Data Sheets continued</ion-item>
        <div class="item item-body" id="databaseTemplate-list-item-container16">
          <div id="databaseTemplate-markdown24" class="show-list-numbers-and-dots">
            <p style="margin-top:0px;color:#000000;">Tought By: xxxxxx
              <br>Attendence: xxxxx
              <br>Infomation: xxxxxx</p>
          </div>
        </div>
      </ion-list>
    </div>
    <div class="item item-body" id="databaseTemplate-list-item-container14">
      <div id="databaseTemplate-markdown21" class="show-list-numbers-and-dots">
        <p style="margin-top:0px;color:#000000;">Period 3 19:35 - 20:10</p>
      </div>
      <form id="databaseTemplate-form5" class="list">
        <ion-list id="databaseTemplate-list11">
          <ion-item id="databaseTemplate-list-item76">Nav Data Sheets Review</ion-item>
          <div class="item item-body" id="databaseTemplate-list-item-container17">
            <div id="databaseTemplate-markdown25" class="show-list-numbers-and-dots">
              <p style="margin-top:0px;color:#000000;">Tought By: xxxxxx
                <br>Attendence: xxxxx
                <br>Infomation: xxxxxx</p>
            </div>
          </div>
        </ion-list>
      </form>
    </div>
  </ion-content>
</ion-view>











<!--
     <div role="main" class="ui-content">    
     	<h2>Reviews</h2>
        <div  class="ui-body ui-body-b"  align="left">    
                <br>
                <table >
                      <tr>
                        <td ><strong>Name</strong></td>
                        <td ><strong>edit</strong></td>
                         <td ><strong>delete</strong></td>
                      </tr>
                      <tr ng-repeat="p in storage.myReviews track by $index"> 
                         <td > <p> {{p.name}} ..</p></td>
                         <td>
                           <a  href="#edit"  ng-click="displayEdit($index)" data-rel="popup" data-position-to="window" ndata-transition="pop"><img src="images/plus.gif" width="42" height="39"></a> 
                         </td>
                      </tr>
                </table>   
                 Number of filtered items: {{storage.myReviews.length}} 
        
                <!--POP-UP - EDIT-->
                <div data-role="popup" id="edit" data-theme="a" data-overlay-theme="b" class="ui-content" style="max-width:340px; padding-bottom:2em;">
                    <a href="index.html" ng-click="saveEditReview(index)"   data-rel="back" class="ui-shadow ui-btn ui-corner-all ui-btn-inline ui-mini">SAVE EDIT</a>
                     <a href="index.html"   data-rel="back" class="ui-shadow ui-btn ui-corner-all ui-btn-inline ui-mini">Cancel</a>
                    <table width="90%" border="1" cellspacing="2" cellpadding="2">
                          <tr>
                            <td>Name</td>
                            <td> <input  type="text" name="name" ng-model="name"  /></td>
    //-->