<ion-view title="Database test" id="page12">
  <ion-content padding="true" class="has-header">
    <form id="databaseTemplate-form3" class="list">
      <label class="item item-input" id="databaseTemplate-textarea3">
        <span class="input-label">Nav Data Sheets</span><textarea placeholder=""></textarea></label>
    </form>
    <div class="item item-body" id="databaseTemplate-list-item-container9">
      <div id="databaseTemplate-markdown14" class="show-list-numbers-and-dots">
        <p style="margin-top:0px;color:#000000;">Period 1 18:15 - 18:55</p>
      </div>
      <form id="databaseTemplate-form1" class="list">
        <ion-list id="databaseTemplate-list8">
          <ion-item id="databaseTemplate-list-item70">Nav Data Sheets
          </ion-item>
          <div class="item item-body" id="databaseTemplate-list-item-container15">
            <div>{{testdisplay}}</div>
              <div id="databaseTemplate-markdown24" class="show-list-numbers-and-dots">
                <p style="margin-top:0px;color:#000000;">Tought By: xxxxxx
                  <br>Attendence: xxxxx
                  <br>Infomation: xxxxxx</p>


                 <a id="hashtagRadio" style='width:2em; height:1em; font-size:12px;' class="button button-royal button-block"
                      ng-controller="hashtagController" ng-click="modal.show()">Open Modal</a>
                    <div class="item-content">
                      </div>


                        <script id="hashtag-modal.html" type="text/ng-template">
                          <ion-modal-view>
                            <ion-header-bar class="bar bar-header bar-positive">
                              <h1 class="title">New Contact</h1>
                              <button class="button button-clear button-primary" ng-click="modal.hide()">Cancel</button>
                            </ion-header-bar>
                            <ion-content class="padding">
                              <div class="list">
                                <label class="item item-input">
                                  <span class="input-label">First Name</span>
                                  <input ng-model="newUser.firstName" type="text">
                                </label>
                                <label class="item item-input">
                                  <span class="input-label">Last Name</span>
                                  <input ng-model="newUser.lastName" type="text">
                                </label>
                                <label class="item item-input">
                                  <span class="input-label">Email</span>
                                  <input ng-model="newUser.email" type="text">
                                </label>
                                <button class="button button-full button-positive" ng-click="createContact(newUser)">Create</button>
                              </div>
                            </ion-content>
                          </ion-modal-view>
                        </script>


              </div>
              <!--<label class="item item-input">
                <input type="text" ng-model="testinput" placeholder="someshit1">
                <a id="databasetest-button" ng-click="testclick(testinpit)" class="button button-royal button-block">s a v e</a>
                </label> -->
              </label>
            </div>
          </div>
        </ion-list>
      </form>
    </div>
    <div class="item item-body" id="databaseTemplate-list-item-container13">
      <div id="databaseTemplate-markdown19" class="show-list-numbers-and-dots">
        <p style="margin-top:0px;color:#000000;">Period 2 18:55 - 19:35</p>
      </div>
      <ion-list id="databaseTemplate-list9">
        <ion-item id="databaseTemplate-list-item74">Nav Data Sheets continued</ion-item>
        <div class="item item-body" id="databaseTemplate-list-item-container16">
          <div id="databaseTemplate-markdown24" class="show-list-numbers-and-dots">
            <p style="margin-top:0px;color:#000000;">Tought By: xxxxxx
              <br>Attendence: xxxxx
              <br>Infomation: xxxxxx</p>
          </div>
        </div>
      </ion-list>
    </div>
    <div class="item item-body" id="databaseTemplate-list-item-container14">
      <div id="databaseTemplate-markdown21" class="show-list-numbers-and-dots">
        <p style="margin-top:0px;color:#000000;">Period 3 19:35 - 20:10</p>
      </div>
      <form id="databaseTemplate-form5" class="list">
        <ion-list id="databaseTemplate-list11">
          <ion-item id="databaseTemplate-list-item76">Nav Data Sheets Review</ion-item>
          <div class="item item-body" id="databaseTemplate-list-item-container17">
            <div id="databaseTemplate-markdown25" class="show-list-numbers-and-dots">
              <p style="margin-top:0px;color:#000000;">Tought By: xxxxxx
                <br>Attendence: xxxxx
                <br>Infomation: xxxxxx</p>
            </div>
          </div>
        </ion-list>
      </form>
    </div>
  </ion-content>
</ion-view>