<ion-view title="Homepage" id="page1">
  <ion-content padding="true" class="has-header">
    <h1 id="homepage-heading1" style="color:#000000;text-align:center;">206 ACU Timetable</h1>
    <ion-list id="homepage-list1">
      <ion-item class="item-divider" id="homepage-list-item-divider1"> Cycle 1/2017</ion-item>
    </ion-list>
    <div id="homepage-button-bar1" class="button-bar">
      <a ui-sref="cycle11PLT" id="homepage-button5" class="button button-positive  button-block">1PLT</a>
      <a ui-sref="cycle12PLT" id="homepage-button6" class="button button-positive  button-block">2PLT</a>
      <a ui-sref="cycle13PLT" id="homepage-button7" class="button button-positive  button-block">3PLT</a>
      <a ui-sref="cycle1Pionners" id="homepage-button8" class="button button-positive  button-block">Pnrs</a>
    </div>
    <ion-list id="homepage-list2">
      <ion-item class="item-divider" id="homepage-list-item-divider2"> Cycle 2/2017</ion-item>
    </ion-list>
    <div id="homepage-button-bar2" class="button-bar">
      <a ui-sref="cycle21PLT" id="homepage-button12" class="button button-positive  button-block">1PLT</a>
      <a ui-sref="cycle22PLT" id="homepage-button13" class="button button-positive  button-block">2PLT</a>
      <a ui-sref="cycle23PLT" id="homepage-button14" class="button button-positive  button-block">3PLT</a>
      <a ui-sref="cycle2Pioneers" id="homepage-button15" class="button button-positive  button-block">Pnrs</a>
    </div>
  </ion-content>
</ion-view>