<ion-view title="Nav Data Sheet Template" id="page11">
  <ion-content padding="true" class="has-header">
    <form id="navDataSheetTemplate-form3" class="list">
      <label class="item item-input" id="navDataSheetTemplate-textarea3">
        <span class="input-label">Nav Data Sheets</span><textarea placeholder=""></textarea></label>
    </form>
    <div class="item item-body" id="navDataSheetTemplate-list-item-container9">
      <div id="navDataSheetTemplate-markdown14" class="show-list-numbers-and-dots">
        <p style="margin-top:0px;color:#000000;">Period 1 18:15 - 18:55</p>
      </div>
      <form id="navDataSheetTemplate-form1" class="list">
        <ion-list id="navDataSheetTemplate-list8">
          <ion-item id="navDataSheetTemplate-list-item70">Nav Data Sheets</ion-item>
          <div class="item item-body" id="navDataSheetTemplate-list-item-container15">
            <div id="navDataSheetTemplate-markdown23" class="show-list-numbers-and-dots">
              <p style="margin-top:0px;color:#000000;">Tought By: xxxxxx
                <br>Attendence: xxxxx
                <br>Infomation: xxxxxx</p>
            </div>
          </div>
        </ion-list>
      </form>
    </div>
    <div class="item item-body" id="navDataSheetTemplate-list-item-container13">
      <div id="navDataSheetTemplate-markdown19" class="show-list-numbers-and-dots">
        <p style="margin-top:0px;color:#000000;">Period 2 18:55 - 19:35</p>
      </div>
      <ion-list id="navDataSheetTemplate-list9">
        <ion-item id="navDataSheetTemplate-list-item74">Nav Data Sheets continued</ion-item>
        <div class="item item-body" id="navDataSheetTemplate-list-item-container16">
          <div id="navDataSheetTemplate-markdown24" class="show-list-numbers-and-dots">
            <p style="margin-top:0px;color:#000000;">Tought By: xxxxxx
              <br>Attendence: xxxxx
              <br>Infomation: xxxxxx</p>
          </div>
        </div>
      </ion-list>
    </div>
    <div class="item item-body" id="navDataSheetTemplate-list-item-container14">
      <div id="navDataSheetTemplate-markdown21" class="show-list-numbers-and-dots">
        <p style="margin-top:0px;color:#000000;">Period 3 19:35 - 20:10</p>
      </div>
      <form id="navDataSheetTemplate-form5" class="list">
        <ion-list id="navDataSheetTemplate-list11">
          <ion-item id="navDataSheetTemplate-list-item76">Nav Data Sheets Review</ion-item>
          <div class="item item-body" id="navDataSheetTemplate-list-item-container17">
            <div id="navDataSheetTemplate-markdown25" class="show-list-numbers-and-dots">
              <p style="margin-top:0px;color:#000000;">Tought By: xxxxxx
                <br>Attendence: xxxxx
                <br>Infomation: xxxxxx</p>
            </div>
          </div>
        </ion-list>
      </form>
    </div>
  </ion-content>
</ion-view>